body {
    background-color: rgb(0, 255, 255);
}
img {
   width: 150px;
   height: 50px;
}
div {
    text-align: center;
}
ul {
   list-style-type: none;
   margin: 0px;
   padding: 0px;
   background-color: darkcyan;
   overflow: hidden;
   border-radius: 40px;
   border: black 3px solid;
}
li {
   float: left;
}
li a {
   display: block;
   color: white;
   text-align: center;
   padding: 15px 10px;
   text-decoration: none;
   border-radius: 30px;
}
li a:hover {
   color: yellow;
   background-color: darkturquoise;
   border: magenta 3px solid;
}
